#line {
    top: -8px;
    bottom: 100px;
    left: 65px;
    right: 100px;
    height: 500px;
    width: 800px;
}

#choropeth {
    top: 27px;
    bottom: 100px;
    left: 21px;
    right: 100px;
    height: 500px;
    width: 800px;
}